.header {
    background:  #FFCCFF;
    padding: 25px;
    text-align: right;
    margin-bottom: 25px;
}
.header a {
    background:#920092 ;
    color: white;
    margin-left: 15px;
    text-decoration: none;
    padding: 10px 17px;  
    border-radius: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 13px;
    color:#663399;
}

th, td {
    padding: 15px 17px;
    text-align: left;
    border: 2px solid #7442c8;
}

th {
    background-color: #b60aff;
    color: #f9f5ff;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color:#f0ebfa;
}
tr:nth-child(odd) {
    background-color: #d5b3f5;
}